<mat-grid-list [cols]="cols" rowHeight="4rem">
  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Hall Table</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">
          <ng-container
            *ngFor="let column of columns; let i = index"
            [matColumnDef]="column"
          >
            <mat-header-cell *matHeaderCellDef>{{
              headers[i]
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              getProperty(element, binders[i])
            }}</mat-cell>
          </ng-container>

          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>

          <mat-row
            *matRowDef="let row; columns: columns"
            (click)="fillForm(row)"
            [ngClass]="{ 'selected-row': row === selectedrow }"
          ></mat-row>
        </mat-table>
        <mat-paginator
          class="paginator"
          [length]="20"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10, 20]"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Hall Booking History</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="hallData">
          <ng-container
            *ngFor="let column of eventColumns; let i = index"
            [matColumnDef]="column"
          >
            <mat-header-cell *matHeaderCellDef>{{
              eventHeaders[i]
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              getProperty(element, eventBinders[i])
            }}</mat-cell>
          </ng-container>

          <ng-container
            *ngFor="let cscolumn of cscolumns; let i = index"
            [matColumnDef]="cscolumn"
          >
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{ csprompts[i] }}</mat-label>
                  <input
                    matInput
                    [formControlName]="cscolumn"
                    (keyup)="filterTable()"
                  />
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row
            id="th"
            *matHeaderRowDef="eventColumns"
          ></mat-header-row>

          <mat-row *matRowDef="let row; columns: eventColumns"></mat-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
        </mat-table>
        <div class="empty-msg" *ngIf="hallData.paginator?.length === 0">
          No records found
        </div>
        <mat-paginator
          [length]="20"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10, 20]"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Hall Details</mat-card-title>
      </mat-card-header>
      <mat-card-content id="hallform">
        <mat-form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Hall Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">
              Add
            </button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">
              Update
            </button>
            <button mat-raised-button [disabled]="!enadel" (click)="delete()">
              Delete
            </button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
