<mat-grid-list [cols]="cols" rowHeight="4rem">
  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Employee Detail</mat-card-title>
      </mat-card-header>
      <mat-card-content id="employeeform">
        <mat-form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="number" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullname" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Calling Name</mat-label>
            <input matInput formControlName="callingname" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender">{{
                gender.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>NIC</mat-label>
            <input matInput formControlName="nic" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="dob" formControlName="dobirth" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dob"
            ></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
          </mat-form-field>
          <div id="imgpanel">
            <img [src]="imageempurl" />
            <input
              id="userImage"
              hidden="hidden"
              (change)="selectImage($event)"
              Select
              type="file"
              formControlName="photo"
            />
            <label for="userImage" id="selectbutton">Select</label>
            <label id="clearbutton" (click)="clearImage()">Clear</label>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Land</mat-label>
            <input matInput formControlName="land" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <mat-select formControlName="designation">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option
                *ngFor="let designation of designations"
                [value]="designation"
                >{{ designation.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Assignment Date</mat-label>
            <input
              matInput
              [matDatepicker]="assdate"
              formControlName="doassignment"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="assdate"
            ></mat-datepicker-toggle>
            <mat-datepicker #assdate></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Employee Status</mat-label>
            <mat-select formControlName="employeestatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option
                *ngFor="let employeestatus of employeestatuses"
                [value]="employeestatus"
                >{{ employeestatus.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">
              Add
            </button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">
              Update
            </button>
            <button mat-raised-button [disabled]="!enadel" (click)="delete()">
              Delete
            </button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Employee Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form [formGroup]="ssearch">
          <mat-form-field appearance="outline">
            <mat-label>Search by Number</mat-label>
            <input matInput formControlName="ssnumber" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Search by Full Name</mat-label>
            <input matInput formControlName="ssname" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select [value]="null" formControlName="ssgender" selected>
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender.name">
                {{ gender.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <mat-select [value]="null" formControlName="ssdesignation" selected>
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option
                *ngFor="let designation of designations"
                [value]="designation.name"
              >
                {{ designation.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="search()">
              <mat-icon>search</mat-icon>
              Search
            </button>
            <button mat-raised-button color="primary" (click)="clearSearch()">
              <mat-icon>reorder</mat-icon>
              Clear Search
            </button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="7">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Employee Table</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">
          <ng-container
            *ngFor="let column of columns; let i = index"
            [matColumnDef]="column"
          >
            <mat-header-cell *matHeaderCellDef>{{
              headers[i]
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              getProperty(element, binders[i])
            }}</mat-cell>
          </ng-container>

          <ng-container
            *ngFor="let cscolumn of cscolumns; let i = index"
            [matColumnDef]="cscolumn"
          >
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{ csprompts[i] }}</mat-label>
                  <input
                    matInput
                    [formControlName]="cscolumn"
                    (keyup)="filterTable()"
                  />
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>

          <mat-row
            *matRowDef="let row; columns: columns"
            (click)="fillForm(row)"
            [ngClass]="{ 'selected-row': row === selectedrow }"
          ></mat-row>
        </mat-table>

        <div class="empty-msg" *ngIf="data.paginator?.length === 0">
          No records found
        </div>

        <mat-paginator
          [length]="20"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10, 20]"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
