<mat-grid-list [cols]="cols" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>User Detail</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>User Search</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>User Table</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>
