<mat-grid-list [cols]="cols" rowHeight="4rem">
  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Payment Detail</mat-card-title>
      </mat-card-header>
      <mat-card-content id="paymentform">
        <mat-form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Event</mat-label>
            <mat-select
              formControlName="event"
              (selectionChange)="filterTotalAmount()"
            >
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let event of events" [value]="event"
                >{{ event.eventtype.name }} : {{ event.doevent }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="customer" [compareWith]="compare">
              <mat-option
                *ngFor="let customer of customers"
                [value]="customer"
                [disabled]="true"
                >{{ customer.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline">
            <mat-label>Customer</mat-label>
            <input matInput formControlName="customer" />
          </mat-form-field> -->

          <mat-form-field appearance="outline">
            <mat-label>Total Amount</mat-label>
            <input matInput formControlName="totalCost" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Paid Amount</mat-label>
            <input
              matInput
              formControlName="paidAmount"
              (input)="filterDueAmount()"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Due Amount</mat-label>
            <input matInput formControlName="dueAmount" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Payment Status</mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let status of statuses" [value]="status">{{
                status.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">
              Add
            </button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">
              Update
            </button>
            <button mat-raised-button [disabled]="!enadel" (click)="delete()">
              Delete
            </button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="5">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Payment Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form [formGroup]="ssearch">
          <mat-form-field appearance="outline">
            <mat-label>Search by Customer</mat-label>
            <mat-select
              [value]="null"
              formControlName="sscustomername"
              selected
            >
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option
                *ngFor="let customer of customers"
                [value]="customer.name"
              >
                {{ customer.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Event Date</mat-label>
            <input
              matInput
              [matDatepicker]="doevent"
              formControlName="ssdoevent"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="doevent"
            ></mat-datepicker-toggle>
            <mat-datepicker #doevent></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Event Type</mat-label>
            <mat-select [value]="null" formControlName="sseventtype" selected>
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option
                *ngFor="let eventType of eventTypes"
                [value]="eventType.name"
              >
                {{ eventType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Event Package</mat-label>
            <mat-select [value]="null" formControlName="sspackage" selected>
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option
                *ngFor="let package of packages"
                [value]="package.name"
              >
                {{ package.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Count</mat-label>
            <input matInput formControlName="sscount" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Search by Total Amount</mat-label>
            <input matInput formControlName="sstotalamount" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Search by Paid Amount</mat-label>
            <input matInput formControlName="sspaidamount" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Search by Due Amount</mat-label>
            <input matInput formControlName="ssdueamount" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Payment Status</mat-label>
            <mat-select [value]="null" formControlName="ssstatus" selected>
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let status of statuses" [value]="status.name">
                {{ status.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="search()">
              <mat-icon>search</mat-icon>
              Search
            </button>
            <button mat-raised-button color="primary" (click)="clearSearch()">
              <mat-icon>reorder</mat-icon>
              Clear Search
            </button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Payment Table</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">
          <ng-container
            *ngFor="let column of columns; let i = index"
            [matColumnDef]="column"
          >
            <mat-header-cell *matHeaderCellDef>{{
              headers[i]
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              getProperty(element, binders[i])
            }}</mat-cell>
          </ng-container>

          <ng-container
            *ngFor="let cscolumn of cscolumns; let i = index"
            [matColumnDef]="cscolumn"
          >
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{ csprompts[i] }}</mat-label>
                  <input
                    matInput
                    [formControlName]="cscolumn"
                    (keyup)="filterTable()"
                  />
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>

          <mat-row
            *matRowDef="let row; columns: columns"
            (click)="fillForm(row)"
            [ngClass]="{ 'selected-row': row === selectedrow }"
          ></mat-row>
        </mat-table>

        <mat-paginator
          [length]="20"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10, 20]"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
